/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /* Background */
  --background-color: hsl(222, 26%, 31%);
  --selector-background-color: hsl(223, 31%, 20%);
  --input-background-color: hsl(224, 36%, 15%);

  /* Text */
  --text-alter-color: hsl(229, 6%, 61%);
  --text-color: hsl(221, 14%, 31%);
  --title-color: rgb(255, 255, 255);
  --operation-text-color: rgb(255, 255, 255);
  --equals-text-color: rgb(255, 255, 255);

  /* Keys */
  --selector-key-color: hsl(6, 63%, 50%);
  --operation-key-color: hsl(225, 21%, 49%);
  --number-key-color: hsl(30, 25%, 89%);

  /* Shadow */
  --selector-key-shadow-color: hsl(6, 70%, 34%);
  --operation-key-shadow-color: hsl(224, 28%, 35%);
  --number-key-shadow-color: hsl(28, 16%, 65%);
  
  /*========== Font and typography ==========*/
  --body-font: 'Spartan', sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.35rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --smallest-font-size: .70rem;
  --text-line-height: 2rem;

  /*========== Font weight ==========*/
  --font-bold: 700;

  /*========== Margenes ==========*/
  --m-0-25: .25rem;
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;
  --m-3-5: 3.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

.light__theme {
  /* Background */
  --background-color: hsl(0, 0%, 90%);
  --selector-background-color: hsl(0, 5%, 81%);
  --input-background-color: hsl(0, 0%, 93%);

  /* Text */
  --text-alter-color: hsl(229, 6%, 61%);
  --text-color: hsl(221, 14%, 31%);
  --title-color: hsl(60, 10%, 19%);
  --operation-text-color: rgb(255, 255, 255);
  --equals-text-color: rgb(255, 255, 255);

  /* Keys */
  --selector-key-color: hsl(25, 98%, 40%);
  --operation-key-color: hsl(185, 42%, 37%);
  --number-key-color: hsl(45, 7%, 89%);

  /* Shadow */
  --selector-key-shadow-color: hsl(25, 99%, 27%);
  --operation-key-shadow-color: hsl(185, 58%, 25%);
  --number-key-shadow-color: hsl(35, 11%, 61%);
}

.purple__theme {
  /* Background */
  --background-color: hsl(268, 75%, 9%);
  --selector-background-color: hsl(268, 71%, 12%);
  --input-background-color: hsl(268, 71%, 12%);

  /* Text */
  --text-alter-color: hsl(229, 6%, 61%);
  --text-color: hsl(52, 100%, 62%);
  --title-color: hsl(52, 100%, 62%);
  --operation-text-color: rgb(255, 255, 255);
  --equals-text-color: hsl(198, 20%, 13%);

  /* Keys */
  --selector-key-color: hsl(176, 100%, 44%);
  --operation-key-color: hsl(281, 89%, 26%);
  --number-key-color: hsl(268, 47%, 21%);

  /* Shadow */
  --selector-key-shadow-color: hsl(177, 92%, 70%);
  --operation-key-shadow-color: hsl(285, 91%, 52%);
  --number-key-shadow-color: hsl(290, 70%, 36%);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* background-color: var(--background-color); */
  transition: .4s background-color;
}

body {
  font-family: var(--body-font);
  display: grid;
  justify-content: center;
  background-color: var(--background-color);
  transition: .4s;
}

h1,h2,h3 {
  font-family: var(--body-font);
}

ul {
  list-style-type: none;
}

a {
  font-family: var(--body-font);
  text-decoration: none;
}

button,
input {
  font-family: var(--body-font);
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

span {
  font-size: var(--normal-font-size);
  line-height: 1.6rem;
  text-align: center;
  margin: 0;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 0;
  margin-bottom: 5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h1-font-size);
  border-radius: var(--m-0-5);
  background-color: var(--number-key-color);
  color: var(--text-color);
  box-shadow: 0px 4px var(--number-key-shadow-color);
  transition: .3s;
  transition-timing-function: cubic-bezier(0.000, 1.105, 0.450, 0.970);
}

.button:active {
  transform: translate(0px, 4px);
  box-shadow: 0px 0px var(--number-key-shadow-color)
}

/*=============== LAYOUT ===============*/

.main {
  overflow: hidden; /* For animation and images*/
}

.grid {
  display: grid;
}

/*=============== HEADER ===============*/
.header {
  margin-top: var(--m-1-5);
  margin-bottom: var(--m-1);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 350px;
}

.header__logo {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.header__theme {
  display: flex;
  align-items: flex-end;
  gap: var(--m-1);
}

.header__theme-title {
  font-size: var(--smallest-font-size);
  margin-bottom: var(--m-0-25);
  letter-spacing: .08rem;
  color: var(--title-color);
}

.header__selector{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__step {
  display: flex;
  gap: var(--m-1);
}

.header__step-number {
  font-size: var(--smallest-font-size);
  color: var(--title-color);
}

.header__selector-scroll {
  position: relative;
  background-color: var(--selector-background-color);
  border-radius: var(--m-1);
  width: 68px;
  padding: 13px;
  cursor: pointer;
}

.selector__button{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 1rem;
  background-color: var(--selector-key-color);
  transform: translate(-9px, -8px);
  transition: .4s;
}

/* Active states */
.selector__step-2 {
  transform: translate(12px, -8px);
}

.selector__step-3 {
  transform: translate(33px, -8px);
}


/*=============== CALCULATOR OUTPUT ===============*/
.calculator__result {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--input-background-color);
  border-radius:var(--m-0-75);
  padding: var(--m-0-75) var(--m-2);
  margin: var(--m-1-5) 0;
  gap: var(--m-0-5);
  height: 85px;
}

.calculator__previousOperand {
  position: absolute;
  transform: translate(0px, -40px);
  font-size: var(--normal-font-size);
  color: var(--text-alter-color);
}

.calculator__currentOperand {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

/*=============== CALCULATOR BODY ===============*/
.calculator__body {
  display: grid;
  justify-content: center;
  background-color: var(--selector-background-color);
  border-radius: var(--m-0-75);
  padding: var(--m-1-5);
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: var(--m-1);
  -webkit-tap-highlight-color: transparent;
}

.span-two {
  grid-column: span 2;
}

.blue {
  color: var(--operation-text-color);
  font-size: var(--normal-font-size);
  background-color: var(--operation-key-color);
  box-shadow: 0px 4px var(--operation-key-shadow-color);
}

.blue:active {
  box-shadow: 0px 0px var(--operation-key-shadow-color);
}

.red {
  font-size: var(--h3-font-size);
  color: var(--equals-text-color);
  background-color: var(--selector-key-color);
  box-shadow: 0px 4px var(--selector-key-shadow-color);
}

.red:active {
  box-shadow: 0px 0px var(--selector-key-shadow-color);
}

/* Active states */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}